@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

/*WIREFRAMES*/
.frame {
  border: 1px dotted red;
}

/*SMOOTH SCROLLING*/
html {
  scroll-behavior: smooth;
}

/*BODY*/
body {
  margin: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

/*CONTAINER*/
.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  /* height: 5205px; */
  text-align: center;
}

/*SECTIONS*/
section {
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

/*INTRO SECTION*/
.intro {
  height: 670px;
}

.logo {
  width: 125px;
  margin: 120px 0 60px 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 24px;
}

.heavy {
  font-weight: 700;
}

h1 {
  font-size: 31px;
}

.para {
  color: hsl(201, 11%, 66%);
}

.downloads {
  display: flex;
  flex-direction: column;
  margin-bottom: 168px;
  margin-top: 52px;
}

button {
  width: 315px;
  height: 56px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-left: 2px solid hsl(0, 0%, 100%, 10%);
  border-top: 2px solid hsl(0, 0%, 100%, 10%);
  border-right: 2px solid hsl(0, 0%, 100%, 20%);
  border-bottom: 2px solid hsl(0, 0%, 100%, 20%);
}

.ios {
  background-color: hsl(171, 66%, 44%);
  margin-bottom: 24px;
}

.mac {
  background-color: hsl(233, 100%, 69%);
}

/*TRACK SECTION*/
.track {
  height: 1130px;
}

h2 {
  margin-top: 168px;
}

h3 {
  margin-top: 68px;
}

.screen,
.devices {
  width: 315px;
  margin-top: 68px;
}

.features {
  margin-bottom: 168px;
}

/*CLIPBOARD SECTION*/
.clipboard {
  height: 600px;
}

/*WORKFLOW SECTION*/
.workflow {
  height: 1020px;
}

/*CUSTOMERS SECTION*/
.customers {
  height: 575px;
}

/*DOWNLOAD SECTION*/
.download {
  height: 710px;
}

/*FOOTER SECTION*/
.footer {
  height: 500px;
  font-size: 16px;
}

.footer a {
  color: hsl(210, 10%, 33%);
}

.logoNav {
  width: 50px;
}
